html {
    scroll-behavior: smooth;
}

section.form-search {
    position: relative;
    background-color: #f5f6f7;
    border-radius: 5px;
}

section.form-search .form-control {
    height: calc(1.5em + 1rem + 2px);
    padding: .375rem 1rem;
    font-size: 1.1rem;
    line-height: 1.5;
}

.surat .card {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.surat .card::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 7px;
    background-color: #28a745;
}

.surat .card-body {
    padding-bottom: .1rem;
    cursor: pointer;
}

.surat .card-body small {
    font-size: 1.3rem;
}

body::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 255, 8, 0.02);
}


a.card-body {
    text-decoration: none;
}

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #264653;
}

svg {
    position: relative;
    width: 150px;
    height: 150px;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: #70e000;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: animate 4s linear infinite;
}

@keyframes animate {

    0%,
    100% {
        stroke-dashoffset: 440;
    }

    50% {
        stroke-dashoffset: 0;
    }

    50.1% {
        stroke-dashoffset: 880;
    }
}

.scrolling-container {
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: #28a745;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    transition: .5s;
    opacity: 0;
    cursor: pointer;
}

.scrolling-container.active {
    opacity: .7;
}

.scrolling-container a {
    color: white;
    font-size: 1.2rem;
}

.ayat {
    font-size: 1.1rem;
}

.surat-ke,
.diturunkan {
    font-size: 1.2rem !important;
}

.ayat-ar {
    line-height: 50px;
    /* color: #52b788; */
}

.ayat-terjemahan {
    font-size: 1.1rem;
}

.show-audio {
    overflow: scroll;
}

.list-group-item {
    position: relative;
}

.nomor {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 20px;
    height: 20px;

}